{% extends 'base.html' %}
{% load static %}
{% block title %}
Sahajya | Donate
{% endblock %}

{% block content %}

<div class="container">
    <!-- Donation Form -->
    <form method="POST" enctype="multipart/form-data" class="shadow p-4 rounded border">
        <h5 class="text-center mb-4" >{{ blog_post.title }}</h5>
        {% csrf_token %}
        
        <div class="input-group-sm mb-1">
            <label for="amount" class="form-label">Donation Amount (in rupees) : </label>
            {{ form.amount }}
        </div>
        
        <div class="input-group-sm mb-1">
            <label for="payment_image" class="form-label">Payment Screenshot :</label>
            {{ form.payment_image }}
        </div>

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-outline-success btn-sm">Submit</button>
        </div>
    </form>
</div>


<div class="container-fluid">
    <div class="card border-0 mb-3" style="margin: 0 auto; padding: 15px; max-width: 1400px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://api.qrserver.com/v1/create-qr-code/?data=Thanks%20for%20using%20Sahajya%20Website%20!&amp;size=300x300&amp;color=6a11cb" alt="" title="SahajyaQR" style="object-fit: cover;"/>
            </div>
            <div class="col-md-8" >
                <div class="card-body p-3">
                    <h2 class="card-title" style="font-family: 'Pacifico', cursive; color: #6a11cb;">Your Contribution Can Change Lives!</h2>
                    <p class="card-text" style="font-size: 1rem; line-height: 1.5;">
                        Every little bit counts in making a difference. With your support, we can feed hungry children, educate the underprivileged and empower communities to thrive.<br>
                        Imagine the joy you bring when you help create brighter futures. Your generous donation today will have a lasting impact on someone's life.
                    </p>
                    <p class="card-text" style="font-size: 1.2rem;">
                        <strong>UPI ID:</strong> <span style="color: #6a11cb;">sahajya2025-1@oksbi | sahajya2025-2@okhdfc</span><br>
                        <strong>Phone Number:</strong> <span style="color: #6a11cb;">+91 1234567890 | +91 9876543210</span><br>
                        <small class="text-body-secondary">Accepted payments by any UPI app</small>
                    </p>
                    <p class="card-text" style="font-size: 1rem;">
                        <small>Together, we can create a world of hope and opportunity for all.<br>
                            Thank you for being the change the world needs!
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
